@import "../assets/styles/animate.scss";
@import "../assets/styles/colors.scss";

.starIcon {
  cursor: pointer;
  display: flex;

  width: 16px;
  height: 16px;
  svg {
    transition: all 0.3s;
    fill: $content-black;
  }
  &:hover {
    svg {
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }
}

.editIcon {
  cursor: pointer;
  display: flex;

  width: 24px;
  height: 24px;
  svg {
    transition: all 0.3s;
  }
  &:hover {
    svg {
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }
}

.titleMutation {
  display: inline-block;
  color: $pure-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 149%;

  background: inherit;
  min-width: 190px;
  max-width: 218px;
}

.blockLeft {
  display: flex;
  flex-direction: column;
  width: 194px;

  .titleMutation {
    color: $content-black;
    opacity: 0.6;
    font-size: 14px;

    font-weight: 400;
    line-height: 149%;
    width: 184px;
  }
}

.itemMutation {
  display: flex;
  align-items: center;
  padding: 5px 3px 5px 5px;
  width: 272px;
  height: 46px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background: $edit-bg-hover;
    // background: rgba(24, 121, 206, 0.08);
    .titleMutation {
      opacity: 1;
    }
  }

  // &:active {
  //   background: rgba(24, 121, 206, 0.08);
  // }
}
.itemMutation:last-child {
  margin-bottom: 10px;
}
.itemMutationBg {
  background: rgba(24, 121, 206, 0.08);
  &:hover {
    background: rgba(24, 121, 206, 0.3);
    .titleMutation {
      opacity: 1;
    }
  }
}

.blockTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label {
  padding: 0 4px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-size: 8px;
  color: $pure-white;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: $label;

  margin-right: 6px;
}
.mutationSublitle {
  color: $content-black;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.deleteUsersContainer {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  svg {
    transition: all 0.3s;
  }
  &:hover {
    svg {
      transition: all 0.3s;
      path {
        stroke: $primary-hover;
      }
    }
  }
}
