$primary: #ffffff;
$danger: #ff4136;
$body-bg: #000;
$body-color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Silkscreen&display=swap');
$dark: #eee;
$light: #222;
$font-family-sans-serif: 'IBM Plex Mono', monospace;
$font-family-monospace: 'IBM Plex Mono', monospace;
$white: #000;
$black: #fff;

@import "bootstrap";

body, html {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Silkscreen', serif;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &> div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}
