@import "bootstrap";

body {
  overflow-y: scroll;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success,
.btn-primary {
  .text-muted {
    color: #fff !important;
  }
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  & > div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  & > div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

.feedback-container {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  width: 100% !important;
  padding: 8px 0 !important;
  background: var(--slate-dark-5) !important;
  a {
    text-decoration: none;
    color: white;
    padding: 4px 14px;
    transition: background 300ms ease-in-out;
    font-weight: 500;
    &:hover {
      background: #0b99ff;
    }
  }
}
