$primary: #333;

@import "~bootstrap/scss/bootstrap";

body, html {
  background: #fbfbfb;
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.flex-buttons {
  display: flex;
  flex-flow: row wrap;

  .btn {
    flex: 1 1;
  }
}

.btn-success {
  .text-secondary {
    color: #fff !important;
  };
}

.image-upload {
  display: inline-block;
}

.outline-none {
  outline: 0 !important;
}

.code-editor {
  height: 70vh;
  //textarea, pre {
  //  word-break: break-all !important;
  //}
}
