@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("./fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --slate-dark-1: #151718;
  --slate-dark-3: #202425;
  --slate-dark-5: #2b2f31;
  --slate-dark-6: #313538;
  --slate-dark-8: #4c5155;
  --slate-dark-9: #697177;
  --slate-dark-11: #9ba1a6;
  --slate-dark-12: #ecedee;
  --blue-light-9: #4ecfcf;

  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
