:root {
  --slate-dark-1: #151718;
  --slate-dark-3: #202425;
  --slate-dark-5: #2B2F31;
  --slate-dark-6: #313538;
  --slate-dark-8: #4C5155;
  --slate-dark-9: #697177;
  --slate-dark-11: #9BA1A6;
  --slate-dark-12: #ECEDEE;
  --blue-light-9: #4ECFCF;

  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
