$primary: #d9304f;
$pure-white: #fff;
$primary-hover: #db504a;
$content-black: #222;
$label: #d88f21;
$dark-bg: #313538;
$green: #19ceae;
$blue: #3d7fff;
$border: #4c5155;
$edit-bg:#E7ECEF;
$edit-bg-hover: #D9DEE1;
$blue-hover: #ADDCEE;
$input-border: #C1C6CE;